.about {
	background-color: rgb(2,128,144);
	height: 155px;
}

.about p {
	font-size: 1em;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px; 
	text-align: center;
	color: white;
	vertical-align: middle;
}
body {
	background-color: rgb(248,248,248);
	background-image: url(/img/greyzz.png);
	margin-bottom: 60px;
}

.btn {
	margin-top: 20px;
}

.create_area{
	background-color: white;
	padding: 40px;
	border-radius: 5px;
	border: solid lightgrey 1px;
}
.dropdown-menu>li>a:hover {
	color: rgb(355,63,96);
}

.form-control {
	text-align: left;
}

div .header .row {
	margin-left: 0;
	margin-right: 0;
	border-radius: 5px;
}

.header h1 {
	padding-top: 100px; 
	text-align: center; 
	font-style: bold;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	text-align: center;
	font-size: 5.3em;
}


main {
	padding-top: 60px;
	font-family: 'Raleway', sans-serif;
}

.missing_area{
	background-color: white;
	text-align: center;
	padding: 20px;
	font-weight: bold; 
	border-radius: 5px;
	border: solid lightgrey 1px;
}

.navbar-default .navbar-nav>li>a:hover {
	background-color: rgb(124,211,187) ;
	color: white;
	font-style: bold;
}

.navbar-default .navbar-nav>li>a {
	color: rgb(355,63,96);
	font-style: bold;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

.navstyle {
	font-size: 1.2em;
	background-color: white;
	font-style: bold;
}

.navstyle a {
	color: white;
}

.navbar-default .navbar-brand {
	font-weight: bold;
	font-size: 40px;
	font-family: 'Pacifico', cursive;	
	color: rgb(2,128,144);
}

.navbar-default .navbar-brand:hover {
	color: rgb(2,128,144);
}

.path {
    text-align: center;
    color: white; 
    background-repeat: no-repeat;   
    background: center, fixed,
    url(/img/path.jpg);
    background-size: cover; 
    height: 350px;
    margin: auto;
}



.post {
	background-color: white;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
	border: solid lightgrey 1px;
	font-size: 1.2em;
	min-height: 300px;
}


.post h2 {
	padding-bottom: 20px;
	text-align: center;
}

.post img {
	width: 250px;
	border-radius: 5px;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: rgb(2,128,144);
  color: white; 
  
}

.footer p {
	color: white; 
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {

  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted{
  margin: 20px 0;
  text-align: center;
}



@media (max-width: @screen-sm-max) { 
	.about {
		background-color: rgb(2,128,144);
		height: 100px;
	}
	.about p {
		padding-top: 10px;
		font-size: 1.1em;
	}
}

@media (max-width: @screen-md-max) { 
	.about p {
		height: 350px;
		padding-top: 20px;
		font-size: 1.2em;
	}
}

@media only screen and (min-width: 992px){
	.about {
		height: 350px;
	}
	.about p {
		padding-top: 40px;
		font-size: 1.1em;
	}
}

@media only screen and (min-width: 1200px){
	.about {
		height: 350px;
	}
	.about p {
		padding-top: 40px;
		font-size: 1.2em;
	}
}