.about_me_heading{
    font-family: 'Sorts Mill Goudy', serif;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

.about_me {
    padding-bottom: 40px;
}

.about_me p {
    padding-left: 30px;
    padding-right: 30px;
}

.about_me h3 {
    text-align: center;
    color: white;
    font-family: 'Sorts Mill Goudy', serif;
}

.apple img {
    padding-bottom: 9px;
}

body { 
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    color: rgb(16,37,66);
}

.box_spacer{
    padding-bottom: 70px;
}

.codestyle {
    background-color: rgb(245,105,86); 
    padding-top: 70px;
    padding-bottom: 50px;
    font-size: 1em;
    color: white;

}
.codestyle p {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}


.contact {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.education {
    background-color: rgb(16,37,66);
    color: white;
    margin-top: 30px;
}

.education h1 {
    font-family: 'Sorts Mill Goudy', serif;
    padding-bottom: 10px;
    padding-top: 30px;
    font-size: 2em;
    color: rgb(255,223,50);
}

.edutext{
    text-align: center; 
    padding-top: 10px;
    line-height: 225%;
    font-size: 1em; 
}



#forcedcolor{
    background-color: rgb(16,37,66)
}

.headshot img{
    width: 200px;
}

#links a:link {
    color: white;
}
#links a:visited {
    color: rgb(179,163,148);
}
#links a:hover {
    color: rgb(245,105,86);
}

.mainheading{
    font-family: 'Sorts Mill Goudy', serif;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

#myname {
    font-family: 'Sorts Mill Goudy', serif;
    font-weight: bold;
    font-size: 1em;
    color: white;
}
.name {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 4em; 
    color: white;
    font-weight: bolder;
}
.navstyle {
    background-color: rgb(16,37,66);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.notredame {
    width: 400px;
    margin: auto;
}
.objective {
    background-color: rgb(140, 206,237); 
}

.projects {
    padding-left: 50px;
    padding-right: 50px; 
    padding-top: 50px;
    padding-bottom: 70px; 
}

.projects img {
    width: 100%;
}
.projects h3 {
    font-weight: bold;
    padding-left: 5px;
}
.projects p {
    padding: 5px; 
}

.rackspace img{
    padding-bottom: 20px;
}

.resume {
    text-align: center;
    font-size: 1.3em;
    padding-bottom: 20px;
}

.skill p {
    font-family: 'Josefin Sans', sans-serif;   
}

.skill_box {
    padding:10px;
    height: 270px;
    width: 300px;
    background-color: rgba(140, 206,237, .5);
    margin: auto;
    position: relative; 
}
.skill_list {
    position: relative;
}
.skills {
    text-align: center; 
    padding-bottom: 200px;
}

.skills_heading{
    font-family: 'Sorts Mill Goudy', serif;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 60px;
}

.top {
    padding-top: 200px;
    background-repeat: no-repeat;
    text-align: center;
    color: white; 
    background-repeat: no-repeat;   
    background: center, fixed,
    linear-gradient(
      rgba(140, 206,237, 0.2), 
      rgba(140, 206,237, 0.2)
    ),
    url(/img/blue_sunrise_2.jpg);

}
.ventev img {
    padding-bottom: 55px;
}

.work { 
    text-align: center;
    padding-bottom: 40px; 
}

.work_heading {
    font-family: 'Sorts Mill Goudy', serif;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 60px;
}

.work .ventev {
    padding-top: 40px;  
    vertical-align: middle;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  color: white;
  background-color: rgb(16,37,66); 
  
}

.footer {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 1em;
    
}

--------









